%estilos-titulos-h3 {
    color: $color-black;
    font-family: $font-titulos;
    font-size: $titulos-pages;
    text-align: center;
    text-shadow: 1px 1px 1px $color-gray;
    font-weight: bold;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid 2px $color-black;
}

%estilos-titulos-h4 {
    color: $color-black;
    font-family: $font-titulos;
    text-align: center;
    text-shadow: 1px 1px 1px $color-gray;
    font-size: $subtitulos-pages;
    font-weight: bold;
    margin-top: 1rem;
    padding: 1rem;
}