// colores

$color-principal: darkgray;
$color-secundario: lightgray;
$color-terciario: darkslategray;
$color-sub-hoover: grey;
$color-rrss: whitesmoke;
$color-sombra: black;

// medidas - mobile

$titulo-principal: 40px;
$subtitulo-principal: 20px;
$titulos-pages: 2rem;
$subtitulos-pages:  1.5rem;
$fonts-rrss: 2.5rem;

// medidas - desktop

$titulo-principal-desktop: 70px;
$subtitulo-principal-desktop: 30px;
$titulos-pages-desktop: 3rem;
