// media queries version desktop

// hojas secundarias
@import "variables.scss";

/* estilos version desktop */

@media screen and (min-width:1024px) {
    // estilos header desktop

    header {
        height: 40vh;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .encabezado-titulo {
            text-align: center;
            width: 50%;
            margin-bottom: 1.5rem;
            h1 {
                font-size: $titulo-principal-desktop;
            }

            img {
                width: 70px;
                height: 70px;
            }

            h2 {
                font-size: $subtitulo-principal-desktop;
            }
        }
        .dropdown {
            display: none;
        }
        .redes-sociales, .suscripcion-boton {
            display: block;
        }
        .menu-navegacion {
            display: flex;
            justify-content: center;
            width: 100%;
        }
        nav ul {
            list-style: none;
            text-align: center;
            li {
                padding: 10px 60px;
                display: inline-block;
                font-size: 25px;
                a {
                    text-decoration: none;
                    color: $color-rrss;
                    text-shadow: 2px 2px 5px $color-sombra;
                    font-weight: bold;
                }
                a:hover{
                    color: $color-rrss;
                }
            }
            li:hover {
                @include hover-enlaces;
            }
        }
        .redes-sociales {
            a {
                color: $color-terciario;
                text-align: center;
                display: inline-block;
                border-radius: 3px;
                font-size: $fonts-rrss;
                margin: 0 10px;
            }
            a:hover{
                @include hover-enlaces;
            }

        }
        
    }

    // estilos index - main desktop 

    main {
        .main-index {
            display: grid;
            justify-items: center;
            grid-template-columns: 65% 30%;
            grid-template-rows: auto;
            column-gap: 5%;
            .main-thumb {
                height: 1000px;
                img {
                   @include img-adaptable;
                }
            }    
        }

        .barra-lateral {
            aside {
                .aside-noticia-box {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    .aside-noticia {
                        img {
                            @include img-adaptable;
                        }
        
                    }
                }
            }
        }

        // titulos de pages desktop

        .noticias-titulo,
        .trailers-titulo,
        .galeria-titulo,
        .contacto-titulo,
        .aside-titulo {
            h3 {
                font-size: $titulos-pages-desktop;
            }
        }

        .noticias-main-contenido,
        .trailers-contenedor-titulo {
            h4 {
                font-size: $titulos-pages-desktop;
            }
        }
    
        // estilos noticias - main desktop 
    
        .noticias-main {
            display: grid;
            grid-template-columns: 30% 65%;
            grid-template-rows: auto;
            grid-column-gap: 5%;
            align-items: center;
            .noticias-main-img {
                height: 400px;
            }
        }

        // estilos trailers - main desktop
        .trailers-contenedor {
            display: grid;
            grid-template-columns: 45% 45%;
            grid-template-rows: auto auto;
            grid-column-gap: 10%;
            .trailers-contenedor-titulo {
                h4 {
                    height: 92px;
                }
            }
        }

        // estilos galeria - main desktop

        .galeria-contenedor {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 50% 50%;
            grid-column-gap: 2rem;
            grid-row-gap: 2rem;

            .galeria-contenedor-box {
                .galeria-contenedor-foto {
                    img {
                        @include img-adaptable;
                    }
                }
                .galeria-contenedor-descripcion {
                    p {
                        height: 250px;
                    }
                }
            }

        }

        // estilos contacto - main desktop

        .contenedor-contacto {
            display: grid;
            grid-template-columns: 45% 45%;
            grid-template-rows: auto;
            grid-column-gap: 10%;
        }
        
    }

}