// media queries version Tablet

// hojas secundarias
@import "variables.scss";

/* estilos version tablet */

@media screen and (min-width:768px) {
    header {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 25vh;
        .encabezado-titulo {
            text-align: center;
            width: 50%;
            margin-bottom: 1.5rem;
            h1 {
                font-size: $titulo-principal-tablet;
            }

            img {
                width: 55px;
                height: 55px;
            }

            h2 {
                font-size: $subtitulo-principal-tablet;
            }
        }
        .suscripcion-boton, .menu-navegacion {
            display: none;
        }
        .redes-sociales {
            display: block;
        }
        .redes-sociales {
            a {
                color: $color-orange;
                text-align: center;
                display: inline-block;
                border-radius: 3px;
                font-size: $fonts-rrss-tablet;
                margin: 0 10px;
            }
            a:hover{
                @include hover-enlaces;
            }

        }
        
    }

    // estilos index - main tablet 
    main {

        aside {
            .aside-noticia-box {
                display: grid;
                justify-items: center;
                grid-template-columns: 45% 45%;
                grid-template-rows: 2fr;
                column-gap: 10%;
                row-gap: 5%;
            }
        }

        // titulos de pages tablet
        .noticias-titulo,
        .trailers-titulo,
        .galeria-titulo,
        .contacto-titulo,
        .aside-titulo {
            h3 {
                font-size: $titulos-pages-tablet;
            }
        }

        .noticias-main-contenido{
            h4 {
                font-size: $titulos-pages-tablet;
            }
        }

        // estilos noticias - main tablet
        .contenedor-noticia-box {
            display: grid;
            grid-template-rows: 1fr 1fr;
            row-gap: 2rem;
            .noticias-main {
                display: grid;
                grid-template-columns: 40% 55%;
                grid-template-rows: auto;
                column-gap: 5%;
                align-items: center;
                .noticias-main-img {
                    height: 500px;
                    margin-bottom: 15px;
                    img {
                        @include img-adaptable;
                    }
                }
                .noticias-main-contenido {
                    p {
                        padding-left: 30px;
                        padding-right: 30px;
                    }
                }
            }
        }


        // estilos trailers - main tablet
        .trailers-contenedor-video {
            iframe {
                margin-top: 3rem;
            }
        }

        // estilos galeria - main tablet
        .galeria-contenedor {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 30% 30% 30%;
            column-gap: 2rem;
            row-gap: 5%;

            .galeria-contenedor-box {
                .galeria-contenedor-foto {
                    height: 620px;
                    img {
                        @include img-adaptable;
                    }
                }
                .galeria-contenedor-descripcion {
                    p {
                        height: 250px;
                    }
                }
            }

        }


    }

    // estilos del footer tablet

    footer {
        height: 10vh;
        .redes-sociales-footer {
            display: none;
        }
    }
}